process {
  withName:mapping { 
    cpus=2
    container = 'mpgagebioinformatics/bowtie2:2.4.2'
    containerOptions = " -v ${params.project_folder}:/workdir -v ${params.trimmed_raw}:/trimmed_raw  --platform=linux/amd64 "
  }
    withName:flagstat {
      cpus=2
      container = "mpgagebioinformatics/samtools:1.16.1"
      containerOptions = "-v ${params.project_folder}:/workdir --platform=linux/amd64 "
  }
}