process {
  withName:mapping { 
    cpus=2
    container = 'mpgagebioinformatics/bowtie2:2.4.2'
    containerOptions = "--user ${params.user} -v ${params.project_folder}:/workdir -v ${params.bowtie_raw_data}:/trimmed_raw  --platform=linux/amd64 "
  }
  withName:bowtie2_indexer { 
    cpus=2
    container = 'mpgagebioinformatics/bowtie2:2.4.2'
    containerOptions = "--user ${params.user} -v ${params.genomes}:/genomes  --platform=linux/amd64 "
  }
  withName:qc_count { 
    cpus=2
    container = 'mpgagebioinformatics/samtools:1.16.1'
    containerOptions = "--user ${params.user} -v ${params.project_folder}:/workdir  --platform=linux/amd64 "
  }
    withName:flagstat {
      cpus=2
      container = "mpgagebioinformatics/samtools:1.16.1"
      containerOptions = "--user ${params.user} -v ${params.project_folder}:/workdir --platform=linux/amd64 "
  }
    withName:remove_mito {
      cpus=2
      container = "mpgagebioinformatics/samtools:1.16.1"
      containerOptions = "--user ${params.user} -v ${params.project_folder}:/workdir --platform=linux/amd64 "
  }
    withName:remove_duplicates {
      cpus=2
      container = "mpgagebioinformatics/picard:3.0.0"
      containerOptions = "--user ${params.user} -v ${params.project_folder}:/workdir --platform=linux/amd64 "
  }
}
