process {
    withName:flexbar_trim {
        executor='slurm'
        queue="${params.queue}"
        cpus=8
        memory='20GB'
        time='4h'
        container = "${params.image_folder}bowtie2-2.4.2"
        containerOptions = "${params.extra_mounts} -B ${params.project_folder}:/workdir -B ${params.trimmed_raw}:/trimmed_raw"
    }
}

